#clock{
    width:300px;
    height:300px;
    position:relative;
    border-radius:50%;
    box-shadow:0 0 5px silver;
    margin:auto;
    border:5px solid #333;
}

.hand{
    background:black;
    position:absolute;
    transform-origin:100%;
    transform:rotate(90deg);
    border-radius:10px;
}
.hour{
    width:25%;
    height:8px;
    top:49%;
    left:25%;
}


.minute{
    width:30%;
    height:6px;
    top:49%;
    left:20%;
}

.second{
    width:35%;
    background:#7d08d5;
    height:5px;
    top:49%;
    left:15%;
}

#center{
    width:20px;
    height:20px;
    border-radius:50%;
    background:#7d08d5;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.number{
    position:absolute;
    width:20px;
    height:20px;
    font-size:16pt;
    text-align:center;
    color:black;
    top:46%;
    left:47%;
    transform:translate(-50%,-50%);
}